In [22]:
# https://datatofish.com/read_excel/

import pandas as pd

data = pd.read_excel (r'C:\Users\Diana\Downloads\Telegram Desktop\time2.xlsx')

In [23]:
data

,Прізвище,Затрачений час,Прізвище.1,Затрачений час.1,Прізвище.2,Затрачений час.2,Прізвище.3,Затрачений час.3,Прізвище.4,Затрачений час.4,Прізвище.5,Затрачений час.5,Прізвище.6,Затрачений час.6,Прізвище.7,Затрачений час.7
0,1001,5 хв 54 сек,1001,2 години,1001,4 хв 58 сек,1001,10 хв 32 сек,1001,3 хв 36 сек,1001,4 хв 25 сек,1001,10 хв 27 сек,1001,10 хв 34 сек
1,1003,4 хв 16 сек,1003,5 хв 21 сек,1003,4 хв 59 сек,1003,10 хв 1 сек,1003,4 хв 1 сек,1003,4 хв 1 сек,1003,10 хв,1003,9 хв 54 сек
2,1004,6 хв,1004,7 хв 8 сек,1004,5 хв,1004,8 хв 39 сек,1004,4 хв,1004,4 хв 1 сек,1004,8 хв 58 сек,1004,16 хв 42 сек
3,1006,6 хв,1006,4 хв 10 сек,1006,5 хв,1006,10 хв,1006,4 хв,1006,4 хв,1006,6 хв 13 сек,1006,8 хв 59 сек
4,1008,2 хв 3 сек,1008,6 хв 56 сек,1008,3 хв 43 сек,1008,6 хв 9 сек,1008,4 хв 1 сек,1008,4 хв,1008,10 хв 1 сек,1008,13 хв 27 сек
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
817,984,6 хв 1 сек,nan,NaN,nan,NaN,nan,NaN,nan,NaN,nan,NaN,nan,NaN,NaN,NaN
818,986,6 хв,nan,NaN,nan,NaN,nan,NaN,nan,NaN,nan,NaN,nan,NaN,NaN,NaN
819,987,6 хв 1 сек,nan,NaN,nan,NaN,nan,NaN,nan,NaN,nan,NaN,nan,NaN,NaN,NaN
820,989,20 хв 36 сек,nan,NaN,nan,NaN,nan,NaN,nan,NaN,nan,NaN,nan,NaN,NaN,NaN
821,990,6 хв 32 сек,nan,NaN,nan,NaN,nan,NaN,nan,NaN,nan,NaN,nan,NaN,NaN,NaN

In [14]:
Lst = list(data.columns.values)
print('Type: {} \n'.format(type(Lst)) ) # list

new_Lst = []
for el in Lst:
    # https://www.programiz.com/python-programming/methods/string/startswith
    if el.startswith('Прізвище'):
        new_Lst.append(el)
print('Респонденти, яких треба буде фільтрувати, знаходяться в стовпцях під назвами: {} \n'.format(new_Lst) )

df = pd.DataFrame(data, columns = new_Lst)
print ('Респонденти: \n', df)

Type: <class 'list'>

Респонденти, яких треба буде фільтрувати, знаходяться в стовпцях під назвами: ['Прізвище', 'Прізвище.1', 'Прізвище.2', 'Прізвище.3', 'Прізвище.4', 'Прізвище.5', 'Прізвище.6', 'Прізвище.7']

Респонденти:
      Прізвище  Прізвище.1  Прізвище.2  Прізвище.3  Прізвище.4  Прізвище.5  \
0        1001      1001.0      1001.0      1001.0      1001.0      1001.0
1        1003      1003.0      1003.0      1003.0      1003.0      1003.0
2        1004      1004.0      1004.0      1004.0      1004.0      1004.0
3        1006      1006.0      1006.0      1006.0      1006.0      1006.0
4        1008      1008.0      1008.0      1008.0      1008.0      1008.0
..        ...         ...         ...         ...         ...         ...
817       984         NaN         NaN         NaN         NaN         NaN
818       986         NaN         NaN         NaN         NaN         NaN
819       987         NaN         NaN         NaN         NaN         NaN
820       989         NaN         NaN         NaN         NaN         NaN
821       990         NaN         NaN         NaN         NaN         NaN

     Прізвище.6 Прізвище.7
0        1001.0       1001
1        1003.0       1003
2        1004.0       1004
3        1006.0       1006
4        1008.0       1008
..          ...        ...
817         NaN        NaN
818         NaN        NaN
819         NaN        NaN
820         NaN        NaN
821         NaN        NaN

[822 rows x 8 columns]

In [20]:
# https://stackoverflow.com/questions/21291259/convert-floats-to-ints-in-pandas
pd.options.display.float_format = '{:.0f}'.format
df

,Прізвище,Прізвище.1,Прізвище.2,Прізвище.3,Прізвище.4,Прізвище.5,Прізвище.6,Прізвище.7
0,1001,1001,1001,1001,1001,1001,1001,1001
1,1003,1003,1003,1003,1003,1003,1003,1003
2,1004,1004,1004,1004,1004,1004,1004,1004
3,1006,1006,1006,1006,1006,1006,1006,1006
4,1008,1008,1008,1008,1008,1008,1008,1008
...,...,...,...,...,...,...,...,...
817,984,nan,nan,nan,nan,nan,nan,NaN
818,986,nan,nan,nan,nan,nan,nan,NaN
819,987,nan,nan,nan,nan,nan,nan,NaN
820,989,nan,nan,nan,nan,nan,nan,NaN
821,990,nan,nan,nan,nan,nan,nan,NaN

In [21]:
Dct = dict()
Dct[df[1:]] = None

TypeError: 'DataFrame' objects are mutable, thus they cannot be hashed